---
import { Toaster } from "@/components/ui/toaster"
import "/app/globals.css";
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Briques</title>
  </head>
  <body>
    <slot/>
    <Toaster client:load/>
  </body>
</html>
